body {
    background: #dadada;
}

a {
    color: black;
}

a:hover {
    text-decoration: none;
}

p[data-id], p[data-id] ~ p {
    margin-bottom: 0;
}

.sticky {
    top: 0;
    position: fixed;
}
.mr-sm-2.single {
  position: relative;
}
.mr-sm-2.single .selectize-input {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.mr-sm-2.single .selectize-dropdown {
  position: absolute;
}
.sidebar-title, .content-title {
    font-size: 20px;
    background: #ccc;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-bottom: 0;
    margin-bottom: 0;
}

.content-title {
    margin-bottom: 10px;
}

.content-title i {
    margin-right: 5px;
}

.item-sidebar {
    border: 1px solid #ccc;
    border-bottom: 0;
    padding: 5px 10px;
    position: relative;
}

.item-sidebar:last-child {
    border-bottom: 1px solid #ccc;
}

.rank-story-sidebar {
    position: absolute;
    padding: 3px 8px;
    background: black;
    color: white;
    bottom: 0;
    right: 0;
}

.item-sidebar .stats {
    font-size: 13px;
}

p.name {
    margin-bottom: 0px;
}

.wrap {
    max-width: 992px;
    margin: auto;
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0.03);
}

.wrap header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
}

.wrap header .row {
    height: 100%;
}

.wrap main {
    background: white;
}

.wrap main .row {
    margin-left: 0;
    margin-right: 0;
}

.wrap main .content {
    padding-top: 15px;
    margin-bottom: 15px;
}

.wrap main .content .item {
    padding: 5px 10px;
    border: 1px solid #ccc;
    margin-bottom: 8px;
}

.wrap main .content .item p.name {
    font-weight: bold;
}

.wrap main .content .item p.description {
    margin-bottom: 0px;
    border-top: 1px solid #ccc;
}

.wrap main .content .pagination {
    margin-top: 15px;
    justify-content: center;
}

ul.pagination li {
  border: 1px solid #ccc;
  border-right: 0;
}
ul.pagination li a, ul.pagination li span {
  padding: 5px 10px;
}
ul.pagination li:first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
ul.pagination li:last-child {
  border-right: 1px solid #ccc;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
ul.pagination li.disabled {
  background: #ccc !important;
  color: black;
  cursor: not-allowed;
}
ul.pagination li.active {
  background: #337ab7;
  border: 1px solid #337ab7;
}
.wrap main .sidebar {
    padding-top: 15px;
}

#story .breadcrumb {
    background: #ccc;
    border-radius: 0;
    margin-bottom: 0;
}

#story .breadcrumb a {
    color: black;
}

#story .description-story {
    margin-top: 1px;
    margin-bottom: -1px;
}

#story .cung-the-loai {
    margin-bottom: 20px;
}

#stats i {
    margin: 0;
}

@media (max-width: 767px) {
    .wrap main .sidebar {
        padding-top: 0;
    }
}

.wrap main .sidebar i {
    margin-right: 5px;
}

.wrap main .sidebar .list-categories {
    margin-bottom: 20px;
}

.wrap main .sidebar .top-story {
    position: -webkit-sticky;
    position: sticky;
    top: 60px !important;
    overflow: auto;
}

@media (max-width: 767px) {
    .wrap main .sidebar .top-story {
        margin-bottom: 25px;
    }
}

.wrap footer {
    background: #374760;
    height: 50px;
}

.wrap footer span {
    line-height: 50px;
    float: right;
    color: white;
    padding-right: 15px;
}

.end-story {
    background: #bb97bb
}

.story-w-r {
    float: right;
    width: 100%;
}

.story-r {
    float: right
}

.story-cursor {
    cursor: pointer;
}

.tag-story {
    background: #ccc;
    border: solid 1px #ccc;
    border-radius: 5px;
}